html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  head
  body
    div(class="bg-danger text-danger" id="alert" style="display:none; text-align:center; padding:15px; position:fixed; width:100%; background:rgba(250,220,220, 0.8)")
      strong Oh No! You are disconnected!
      span  We lost connection to our server. Please check your Internet connection, Try again or Refresh the page.
    div(class="container")
      block content
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    block script
  body
    footer(style="text-align:center; display:block; background:#f7f7f9; border-top:1px solid #e1e1e8; margin:40 0 0 0; padding:40 0")
      p Website developed by&nbsp;
        a(href="http://publicarray.com") Sebastian Schmidt
html
